<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="{{ default `ltr` .Language.LanguageDirection }}">
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        {{- partial "head/head.html" . -}}
        {{- block "head" . -}}{{ end }}

        <!-- Website Schema -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Params.description }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Params.publisherName }}"
    },
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{{ .Site.BaseURL }}search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>
  
<!-- Article Schema -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ .Title }}",
    "description": "{{ .Description }}",
    "image": "{{ .Params.featured_image | absURL }}",
    "author": {
      "@type": "Person",
      "name": "{{ .Params.authorName | default .Site.Params.author }}",
      "url": "{{ .Params.authorUrl }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Params.publisherName | default .Site.Title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.Params.publisherLogo | default .Site.Params.logo }}"
      }
    },
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z" }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z" }}",
    "url": "{{ .Permalink }}"
  }
</script>
  
<!-- Breadcrumbs Schema -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "{{ .Site.BaseURL }}"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ .Title }}",
        "item": "{{ .Permalink }}"
      }
    ]
  }
</script>

  
       
    </head>
    <body class="{{ block `body-class` . }}{{ end }}">
        {{- partial "head/colorScheme" . -}}
        
        {{/* The container is wider when there's any activated widget */}}
        {{- $hasWidget := false -}}
        {{- range .Site.Params.widgets -}}
            {{- if gt (len .) 0 -}}
                {{- $hasWidget = true -}}
            {{- end -}}
        {{- end -}}
        <div class="container main-container flex on-phone--column {{ if $hasWidget }}extended{{ else }}compact{{ end }}">
            {{- block "left-sidebar" . -}}
                {{ partial "sidebar/left.html" . }}
            {{- end -}}
            {{- block "right-sidebar" . -}}{{ end }}
            <main class="main full-width">
                {{- block "main" . }}{{- end }}
            </main>
        </div>
        {{ partial "footer/include.html" . }}
    </body>



</html>
