<footer class="article-footer">
    {{ partial "article/components/tags" . }}

{{ if .Params.enable_social_share }}
<!-- Social Share Buttons Section -->
<div class="social-share-container">
    <div class="social-share-buttons">
        <ul>
            <li class="share-icon">
                <a href="#" title="Share">
                    <i class="fas fa-share-square"></i>
                </a>
            </li>   
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener noreferrer" title="Share on Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener noreferrer" title="Share on Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}" target="_blank" rel="noopener noreferrer" title="Share on LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a href="mailto:?subject={{ .Title }}&body={{ .Permalink }}" target="_blank" rel="noopener noreferrer" title="Share via Email">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
            <li>
                <a href="https://t.me/share/url?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener noreferrer" title="Share on Telegram">
                    <i class="fab fa-telegram-plane"></i>
                </a>
            </li>
            <li>
                <a href="https://api.whatsapp.com/send?text={{ .Title }}%20{{ .Permalink }}" target="_blank" rel="noopener noreferrer" title="Share on WhatsApp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

{{ end }}


    {{ if and (.Site.Params.article.license.enabled) (not (eq .Params.license false)) }}
    <section class="article-copyright">
        {{ partial "helper/icon" "copyright" }}
        <span>{{ default .Site.Params.article.license.default .Params.license | markdownify }}</span>
    </section>
    {{ end }}

    {{- if ne .Lastmod .Date -}}
    <section class="article-lastmod">
        {{ partial "helper/icon" "clock" }}
        <span>
            {{ T "article.lastUpdatedOn" }} {{ .Lastmod | time.Format ( or .Site.Params.dateFormat.lastUpdated "Jan 02, 2006 15:04 MST" ) }}
        </span>
    </section>
    {{- end -}}
</footer>
