/* Global Background Color */
body {
  background-color: rgb(245,245,251) !important; /* Light grey background */
}

html, body {
  overflow-x: hidden;
  width: 100%;
}


@media (max-width: 768px) {
  .parallax {
      background-attachment: scroll;
  }
}

/*********************************************************************


                                HEADER


**********************************************************************/


#head {
  background: #f4f4f4 url(/images/rajubg.webp) top center;
  background-size: cover;
  color: #9a9a9a;
  padding: 100px 0 50px;
  position: relative;  /* Ensures overlay can be positioned correctly */
}

/* Faded white overlay */
#head::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(245, 245, 251, 0.492);  /* Semi-transparent white */
  z-index: 1;  /* Ensure overlay is below the text but above the background */
}

/* For tablets and mobile screens */
@media (max-width: 768px) {
  #head {
    background-position: top center;
    background-size: auto 100%;
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  #head {
    background-position: center top;
    background-size: cover;
  }
}

/* Image Above Title */
.favicon-img {
  display: block;  /* Ensure the image is on its own line */
  width: 60px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto 15px; /* Center the image and space between image and title */
  position: relative;
  z-index: 2;  /* Ensure the image is above the background and overlay */
  scale: 1.2 !important;
}


/* Title Styles */
#head .title {
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 2.9rem;
  font-weight: 600;
  color: #2c2c2c;
  position: relative;  /* Ensures text appears above overlay */
  z-index: 2;  /* Text above the background overlay */
}

#head .title a {
  text-decoration: none;
  color: inherit;
}

/* Tagline Styles */
#head .tagline {
  display: block;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #161616;
  margin: 15px 0 0;
  text-stroke: 0.4px white;
  text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.7);
  position: relative;
  z-index: 2;  /* Ensure tagline text appears above the background overlay */
}

#head .tagline b {
  font-weight: normal;
}

#head .tagline a {
  color: #161616;
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
  #head .title {
    font-size: 2.2rem;  /* Smaller title font size for mobile */
  }

  #head .tagline {
    font-size: 1.1rem;  /* Smaller tagline font size for mobile */
  }
}



/*********************************************************************


                            Navbar Navigation Styles


**********************************************************************/

/* Navbar Styles */
.navbar {
  border-width: 1px 0;
  background-clip: padding-box;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  width: auto;
  background-color: rgb(245,245,251);
}

/* Responsive Navbar */
.navbar-collapse {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    flex-direction: row !important;
    justify-content: center !important;
    width: 100%;
  }
  .nav-item {
    margin: 0 10px;
  }
}

/* Navbar Links */
.navbar .navbar-nav .nav-link {
  font-size: 20px;
  padding: 0;
}


/*********************************************************************


                                Typography


**********************************************************************/

/* Typography Styles */
p, ul, ol {
  line-height: 1.6;
  margin: 0 0 30px;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #000;
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.875rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }

a {
  color: #000;
}

a:hover {
  color: #666;
}

.lead {
  font-weight: 300;
  font-size: 1.3125rem;
}

.text-msg {
  line-height: 1.7;
  color: #666;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em;
}


/*********************************************************************


                            My works and Interests


**********************************************************************/

/* Section Title */
.section-title {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0 0 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.section-title a {
  color: #000;
}

.section-title span {
  display: inline-block;
  position: relative;
}

.section-title span:before,
.section-title span:after {
  content: "";
  position: absolute;
  height: 4px;
  top: 0.53em;
  width: 400%;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.section-title span:before {
  right: 100%;
  margin-right: 45px;
}

.section-title span:after {
  left: 100%;
  margin-left: 45px;
}

.info-box {
  background: rgba(0, 0, 0, 0.07) !important;
  padding: 10px !important;
  border-radius: 8px !important;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1) !important;
  margin-bottom: 25px !important;
}


.archive-link {
  font-size: 1.8rem !important;
  color: #ffffff !important;
  text-decoration: none !important;
  margin-left: 10px !important;
  font-weight: normal !important;
  transition: color 0.3s ease !important;
}

.archive-link:hover {
  text-decoration: underline !important;
}



/*********************************************************************


                          Featured CONTENT


**********************************************************************/


/* Section - Featured Box Tiles */


.featured {
  font-size: 13px;
  font-size: 0.8125rem;
}
.featured h3 {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.4em;
  vertical-align: middle;
  margin: 0 0 15px 0;
}

/* Button */

.btn-action {
  font-weight: bold;
  background: #5e5e5e !important; /* Ensure grey background applies */
  border: 1px solid #333;
  text-shadow: none;
  color: white !important;
  position: relative; /* Enables z-index */
  z-index: 10; /* Ensures it's above other elements */
}

/* Darker black on hover */
.btn-action:hover,
.btn-action:focus,
.btn-action:active {
  background-color: #434343 !important;
  color: white !important;
}

@media (max-width: 768px) {
  .hide-mobile {
      display: none !important;
  }
}

.panel-cta {
  width: 100%;
  background: rgba(0, 0, 0, 0.07); /* Add a background color if needed */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(25, 25, 25, 0.1);
  margin-bottom: 25px; /* Corrected property */
}


.panel-cta p,
.panel-cta h3,
.panel-cta h4,
.panel-cta h5,
.panel-cta h6 {
  margin: 0;
}
.panel-cta .panel-body {
  padding: 25px;
}



/*********************************************************************


                             BLOGPOST CONTAINER


*********************************************************************/

/* Typography Styles */
p, ul, ol {
  line-height: 1.6;
  margin-bottom: 30px;
}

blockquote {
  padding: 10px 20px;
  margin-bottom: 30px;
  border-left: 5px solid #000;
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.875rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }

a {
  color: #000;
}

a:hover {
  color: #666;
}

.lead {
  font-weight: 300;
  font-size: 1.3125rem;
}

.text-msg {
  line-height: 1.7;
  color: #666;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em;
}

/* Blogpost Container */
@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
}

.article-item:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}



.zoom-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.zoom-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.article-title, .article-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: font-size 0.3s ease;
}

.article-title a {
  -webkit-line-clamp: 2;
  min-height: 2.5em;
  font-size: 1.2rem;
  color: #222 !important; /* Or any color you prefer */
  text-decoration: none;
  transition: color 0.3s ease;
}

.article-title a:hover {
  color: #007bff; /* Or your hover color */
  text-decoration: underline;
}


.article-description {
  -webkit-line-clamp: 2;
  min-height: 2em;
  font-size: 0.85rem;
}

.article-date {
  font-size: 0.8em;
  color: #bbb;
}

.thumbnail.info-box {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 10px; /* <--- Add this for rounded corners */
  overflow: hidden; /* Ensures inner elements (like image) respect the border-radius */
}

.thumbnail.info-box:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  border-radius: 10px; /* Optional: reaffirm on hover */
}




/*********************************************************************


                                FOOTER


**********************************************************************/

/* Footer Styles */
#footer {
  background: rgba(0, 0, 0, 0.745);
  padding: 30px 0 0;
  font-size: 12px;
  color: #d2d2d2;
}

#footer a {
  color: #ccc;
}

#footer a:hover {
  color: #fff;
}

#footer h3.widget-title {
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 20px;
}

/* Under Footer Styles */
#underfooter {
  background: #292929;
  padding: 15px 0;
  color: #777;
  font-size: 12px;
}

#underfooter a {
  color: #e9e9e9 !important;
}

#underfooter a:hover {
  color: #fff;
}

#underfooter p {
  margin: 0;
}

/* Social Icons */
.follow-me-icons {
  font-size: 30px;
}

.follow-me-icons i {
  float: left;
  margin-right: 10px;
}

/* Max Page Width */
@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}
